@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font: 1em "Open Sans", "Avenir", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #353942;
  background: #EEE;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  grid-area: header;
}

.main {
  margin: 0 2px;
  grid-area: content;
}

/* .sidebar {
    display: none;
    grid-area: sidebar;
} */

footer {
  grid-area: footer;
}

.page {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "header" "content" "footer";

  /* max-width: 800px; */
  max-width: 670px;
  margin: auto;
}

@media (min-width: 550px) {
  .page {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header header" "sidebar content" "footer  footer";
  }

  .sidebar {
    display: block;
  }
}

.profile {
  border-radius: 50%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
}

header, footer {
  margin: auto;
  text-align: center;
}

.social {
  font-size: 2em;

  a {
    text-decoration: none;
    color: #000;
  }
}

.nav-links li {
  display: inline-block;
}

.skills, .apps, .nav-links {
  margin: auto;
  padding: 0;
  list-style: none;
}

.skills {
  margin: 0;

  li {
    display: inline-block;
    padding: 7px;
    margin-bottom: 3px;
    border: 1px #a4acbd solid;
    border-radius: 3px;
    color: #efefef;
    background-color: #888d98;
    cursor: default;
  }
}

.apps {
  li {
    margin-bottom: 3px;
  }

  img {
    border-radius: 5px;
    height: 25px;
  }
}